<h2>by <%= @book.authors.map{|a| a.name}.join(", ") %></h2>
<dl>
  <dt>Price</dt>
  <dd>$<%= sprintf("%0.2f", @book.price) -%></dd>
  <dt>Page count</dt>
  <dd><%= @book.page_count -%></dd>
  <dt>Publisher</dt>
  <dd><%= @book.publisher.name %></dd>
  <dt>Blurb</dt>
  <dd><%= @book.blurb %></dd>
</dl>

<h2>Comments</h2>
<div id="comments">
<%= render :partial => @book.comments %>
</div>

<% if current_user %>
  <%= form_for [@book, Comment.new] do |f| %>
    <p>
      <%= f.label :content, "New Comment" %> <br />
      <%= f.text_area :content, :rows => 5 %>
    </p>
    <p><%= f.submit "Add Comment" %></p>
  <% end %>
<% else %>
  Please log in to add comments.
<% end %>


<p><%= link_to "Back to Catalog", :action => "index" %></p>