<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title || 'Emporium' %></title>
    <!--<title>Emporium</title>-->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div id="header">
    <h1 id="logo">Emporium&trade;</h1>
    <h2 id="slogan">Books on Rails</h2>
  </div>

  <p id="loginlogout">
    <% if current_user %>
      Hello, <%= current_user.username %>! <br>
      <%= link_to "Log out", logout_users_path%>
    <% else %>
      <%= link_to "Log in", login_users_path%> <br>
      <%= link_to "Sign up", new_user_path%>
    <% end %>

  <div id="menu">
  <ul>
    <li><a href="/">Home</a>&nbsp;|&nbsp;</li>
    <li><a href="/authors">Authors</a>&nbsp;|&nbsp;</li>
    <li><a href="/publishers">Publishers</a>&nbsp;|&nbsp;</li>
    <li><a href="/categories">Categories</a>&nbsp;|&nbsp;</li>
    <li><a href="/books">Books</a>&nbsp;|&nbsp;</li>
    <li><a href="/catalog/index">Catalog</a>&nbsp;|&nbsp;</li>
    <li><a href="/favorites">Favorites</a>&nbsp;|&nbsp;</li>
    <li><a href="/about">About</a></li>
    <% if admin? %>
      <li>&nbsp;|&nbsp;<a href="/users">Users</a></li>
      <li>&nbsp;|&nbsp;<a href="/order/index">Orders</a></li>
    <% end %>
  </ul>
  </div>

  <p id="notice"><%= notice %></p>

  <div id="content">
    <h1><%= "#{@page_title}" if @page_title %></h1>
    <h2><%= alert %></h2>
    <%= yield %>
  </div>

  <% if @cart %>
    <div id="shopping_cart">
      <%= render :partial => "cart/cart" %>
    </div>
  <% end %>

  <div id="footer">
    &copy; 1995-2021 Emporium
  </div>
  </body>
</html>
